.searchbar input {
    padding: 6px 8px;
    font-size: 18px;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    color: rebeccapurple;
    outline: none;
}

.searchbar label {
    color: #f1f1f1;
    margin-right: 8px;
    font-weight: 600;
    font-size: 18px;
}